/*  IMPORT: FONTS - Google fonts:
        Abel (main)
        Cinzel Decorative 700 ('swap' deco)
        may use another for user input (TBD after styles wipe!)
*/
@import url('https://fonts.googleapis.com/css?family=Abel|Cinzel+Decorative|Cinzel+Decorative:bold|Cinzel+Decorative:700');

/* --------------------------------
Navbar components
-------------------------------- */
html {
    position: relative;
    min-height: 100%
}
html, body {
    font-size: 100%;
    font-family: Abel;
    color: #CCCCCC;
    background-color: #222222 !important;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin-bottom: 30px;
}
nav {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 20px;
}
nav a {
    color: #666666;
    text-decoration: none;
}
nav li:hover, nav a:hover {
    color: #AAFF00;
    text-decoration: none;
    background-color: #222 !important;
}
#currentlink {
    color: #AAFF00;
}
nav .icon-bar {
    background-color: #666;
}
.navbar-brand {
    color: #77BB00;
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 50px;
}
.navbar-brand span {
    font-weight: 700;
    font-family: 'Cinzel Decorative', cursive;
}
.navbar-toggle, .navbar-right {
    padding-left: 50px;
    padding-right: 0px;
}
/*
Used for 'open' feature for links and dropdowns on browsers.
Area remains 'highlighted' with this css.
Overide, but make text 'highlight' to keep the consistent idea.
*/
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #222;
    color: #AAFF00;
}
.dropdown-menu {
    padding: 20px 15px 15px 15px;
    min-width: 120px;
}
.dropdown-menu>li>a {
    color: #fff;
}
.dropdown-menu>li>a:hover {
    color: #AAFF00;
    background-color: #666;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
}
.logo-name {
    color: #77BB00;
}
.logo-name > span {
    font-weight: 700;
    font-family: 'Cinzel Decorative', cursive;
}
.logo-big {
    font-size: 4em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

/* --------------------------------
Main components
-------------------------------- */
footer {
    font-size: .75em;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
}
.center {
    margin: auto;
}
.logo-img {
    display: block;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    margin: auto;
}
h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
}
h1 {
    margin-top: 50px;
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 1.75em;
}
th {
    text-transform: uppercase;
}
label{
    text-align: center;
    margin: 0 auto;
    padding: 0 30px;
}
div {
    display: block;
}
.panel {
    font-size: 1.25em;
    line-height: 1.5;
    background-color: inherit;
}
.panel-heading {
    text-align: center;
}
.panel a {
    color: #77BB00;
    text-decoration: none;
}
.panel a:hover {
    color: #AAFF00;
    text-decoration: none;
}
.btn {
    color: #fff;
    font-size: inherit;
    text-align: center;
    background-color: #77BB00;
    border: 0;
    margin-right: 25px;
}
.btn-alt {
    background-color: #666;
}
.btn:hover {
    color: #222;
    background-color: #AAFF00;
}
.btn-center {
    text-align: center;
}
.radio {
    margin-right: 25px;
}
.form-control {
    margin-bottom: 15px;
    font-size: inherit;
    background-color: inherit;
    border: 0;
    border-bottom: 3px solid #666;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
}
input[type=text], input[type="email"], input[type="password"], input[type="number"] {
    color: #cccccc;
    font-size: 1.25em;
    text-transform: capitalize;
    padding: 10px 5px 0px 5px;
    border: 0;
    border-bottom: 3px solid #666;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
input[type="email"] {
    text-transform: lowercase;
}
input[type="password"] {
    text-transform: none;
}
textarea:focus,
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus,
.uneditable-input:focus {
    box-shadow: none;
    border-bottom: 3px solid #ccc;
    transition: all 300ms ease-in-out;
}
/*
Used for auto fill on browsers.
Selected entry remains 'highlighted' with this css.
Overide, but make text 'highlight' to keep the consistent idea.
Doesn't seem to work, maybe since i'm logged into Chrome...
*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #222!important;
    background-image: none!important;
    color: #77BB00!important;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type="checkbox"] [type="radio"]{
    margin-top: .4em;
    transform:scale(1.3, 1.3);
}
.bgimg-talkbox {
    padding: 30px 20px 20px 20px;
}
.bgimg-talkbox-green {
    background: url('/../img/TalkboxGreen@x1.png') no-repeat;
    background-size: 100% 100%;
}
.bgimg-talkbox-gray {
    background: url('/../img/TalkboxGray@x1.png') no-repeat;
    background-size: 100% 100%;
}
.bgimg-openbook {
    font-size: inherit;
    padding: 2px 10px 10px 10px;
    clear: both;
}
.bgimg-openbook-green-dark {
    background: url('/../img/OpenbookGreenDark@x1.png') no-repeat;
    background-size: 100% 100%;
}
.bgimg-openbook-green-light {
    background: url('/../img/OpenbookGreenLight@x1.png') no-repeat;
    background-size: 100% 100%;
}
.bgimg-openbook-gray-dark {
    background: url('/../img/OpenbookGrayDark@x1.png') no-repeat;
    background-size: 100% 100%;
}
.bgimg-openbook-gray-light {
    background: url('/../img/OpenbookGrayLight@x1.png') no-repeat;
    background-size: 100% 100%;
}
.icon-blankbook {
    width: 100px;
}

/*--------------------
About stuff...
--------------------*/
.about-bookswap {
    text-align: center;
    padding-bottom: 15px;
}
.about-left {
    float: left;
    padding: 5px;
    padding-right: 7%;
}
.about-right {
    float: right;
    padding: 5px;
    padding-left: 7%;
}
.half {
	width: 50%;
}
.pic {
    width: 40%;
    padding: 1%;
    padding-bottom: 5%;
}
.content {
    color: #fff;
    width: 60%;
}
.myPic {
    width: 100%;
    margin: auto;
    min-width: 50px;
}
.pic img {
    max-width: 100%;
    height: auto;
    padding: 4px;
    border: 4px solid #77BB00;
    border-radius: 4px;
}
.myPic:hover{
    filter: brightness(1.1);
    border: 4px solid #AAFF00;
}
.panel-body .col-sm-12 {
    float: left;
    min-width: 550px;
}

/*--------------------
FAQ stuff...
--------------------*/
section ul li {
    list-style: none!important;
}
section a {
    text-decoration: none!important;
}
section a:hover {
    text-decoration: none!important;
}
.faq {
    width: 95%;
    max-width: 1024px;
    margin: auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.faq:after {
    content: "";
    display: table;
    clear: both;
}
.categories {
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.categories .selected {
    background: #666 !important;
}
.categories .selected::before {
    opacity: 1;
}
.categories a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 1.25em!important;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.categories a:hover {
    color: #AAFF00;
    background-color: #666;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
}


.categories a::before, .categories a::after {
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #7f868e;
}
.categories a::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


.categories li:last-child a {
    border-bottom: none;
}
.faq-group {
    display: none;
    padding-left: 0px;
}
.faq-group.selected {
    display: block;
    background-color: #222;
}
.faq-group a {
    color: #fff;
    font-weight: bold;
}
.faq-group a:hover {
    color: #AAFF00;
}
.faq-group .faq-title {
    background: transparent;
    box-shadow: none;
}
.no-touch .faq-group .faq-title:hover {
    box-shadow: none;
}
.no-js .faq-group {
    display: block;
}
.faq-content {
    display: none;
    padding: 0 24px 30px;
}
.faq-content p {
    line-height: 1.6;
    font-size: 1.25em;
    color: #eee;
}
.faq-items {
    display: block;
    position: static;
    top: -25px;
    right: 15px;
    padding: 0 5% 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) translateX(100%);
    -moz-transform: translateZ(0) translateX(100%);
    -ms-transform: translateZ(0) translateX(100%);
    -o-transform: translateZ(0) translateX(100%);
    transform: translateZ(0) translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}
.faq-items.slide-in {
    padding: 0;
    -webkit-transform: translateZ(0) translateX(0%);
    -moz-transform: translateZ(0) translateX(0%);
    -ms-transform: translateZ(0) translateX(0%);
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
}
.no-js .faq-items {
    position: static;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.cd-close-panel {
    position: fixed;
    top: 5px;
    right: -100%;
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    transition: right 0.4s;
}
.cd-close-panel::before, .cd-close-panel::after {
    position: absolute;
    top: 16px;
    left: 12px;
    display: inline-block;
    height: 3px;
    width: 18px;
    background: #6c7d8e;
}
.cd-close-panel::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-close-panel::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.cd-close-panel.move-left {
    right: 2%;
}
.trigger {
    position: relative;
    display: block;
    margin: 1.6em 0 .4em;
}
.content-visible .trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.content-visible .trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media only screen and (min-width: 1024px) {
    .categories a::before {
        display: block;
        top: 0;
        right: auto;
        left: 0;
        height: 100%;
        width: 30px;
        background-color: #77BB00;
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }
    .no-js .categories {
        position: relative;
    }
    .no-js .faq-items {
        padding-left: 0;
    }
    .cd-close-panel {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .faq {
        position: relative;
        margin: auto;
        box-shadow: none;
    }
    .categories {
        z-index: 2;
        width: 20%;
        float: left;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }
    .categories.is-fixed {
        position: fixed;
    }
    .no-js .categories {
        position: relative;
    }
    .categories a::after {
        display: none;
    }
    .categories a::before {
        display: block;
        top: 0;
        right: auto;
        left: 0;
        height: 100%;
        width: 10px;
        background-color: blue;
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }
    .categories .selected {
        background: #666 !important;
    }
    .categories .selected::before {
        opacity: 1;
    }
    .faq-group {
        display: block;
    }
    .faq-group .faq-title {
        margin: 2em 0 1em;
    }
    .faq-group:first-child .faq-title {
        margin-top: 0;
    }
    .faq-items {
        position: static;
        height: auto;
        width: 75%;
        float: right;
        overflow: visible;
        -webkit-transform: translateZ(0) translateX(0);
        -moz-transform: translateZ(0) translateX(0);
        -ms-transform: translateZ(0) translateX(0);
        -o-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        padding: 0;
        background: transparent;
    }
    .no-js .faq-items {
        padding-left: 0;
    }
    .no-js .faq-content {
        display: block;
    }
    .trigger {
        margin: 0;
        padding: 10px;
    }
    .trigger::before, .trigger::after {
        position: absolute;
        right: 24px;
        top: 50%;
        height: 2px;
        width: 13px;
        background: #ccc;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    .trigger::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 32px;
    }
    .trigger::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .no-touch .categories a:hover {
        background: #555b61;
    }
}
